{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
        <h1>Criar Conta</h1>

        <form method="POST">
            {% csrf_token %}

            {% for field in form.visible_fields %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <input type="submit" value="Cadastrar">

        </form>
        <form action="{%url 'login'%}">
            <input style="color: black; background-color: lightgreen;" type="submit" value="Ja tem uma conta? Clique aqui para fazer Login" >
        </form>

    </div>
{% endblock %}